@import "external2.css";

@media print {
  @page {
    background-color: #fff;
    color: #000;
  }

  .foo {
    font-family: "Georgia", "Tahoma", serif;
  }
}

body {
  background: black;
  color: #80c0c0
}

a:link {
  color: #f88
}

a:visited {
  color: #ff0000
}

a:active {
  color: #a05050
}

a.case1:link {
  background: green
}

p:first-line {
  margin-left: 25px
}

div.foo:first-line {
  font-weight: bold;
  margin-left: 30px
}

div:first-letter {
  font-size: x-large;
  color: #ffffff
}

#tagid1 {
  padding: 20px;
  border: 20px groove #ffffff
}

.class1, #tagid2 {
  font-family: 'comic sans ms', fantasy;
  color: rgb(100%, 100%, 0%)
}

h1, h2, div.class5, blockquote {
  background: #000080
}
